<!doctype html>
<html>
	<head>
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/red.css') }}">
		<!--href="/static/css/red.css" -->
		<script type = "text/javascript" src = "{{ url_for('static', filename='js/test.js') }}" ></script>
		<!-- src="/static/js/test.js" -->

	</head>
   <body>
   
     <form action = "http://localhost/add_post" method = "POST" 
         enctype = "multipart/form-data">
         제목:<input type="text" name="title"><br>
         내용:<input type="text" name="content"><br>
         사이즈:<input type="text" name="size"><br>
         만료 날짜:<input type="date" name="exp_date"><br>
         첨부 링크:<input type="url" name="url"><br>
         <input type = "file" name = "img_url" /><br>
         건물:
           <input type="checkbox" name="build" value="yul">율곡관<br>
           <input type="checkbox" name="build" value="gwang">광개토<br>
           <input type="checkbox" name="build" value="hak">학정원<br>
           <input type="checkbox" name="build" value="dae">대양센터<br>
         <input type = "submit"/><br>
      </form>
   </body>
</html>